html,body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    font-size: 1rem;
    color: #303137;
    margin:0;

}

.navbar ,.container{

    margin: 0 auto;
    max-width: 1140px;
    width:100%;


}


.navbar{
    display:flex;
    justify-content: space-between;  
    padding:10px;
}

.color-bg{
    top:30px;
    right:30px;
    background-color: antiquewhite
}

.brand, .navlink{
    text-transform: uppercase;
    color:#303137;  
}

.brand{
    font-size: 25px;
}

.name{
    color:#66b6d3;
}

.topnav{
    display:flex;
    margin:0;
    padding:0;
    list-style: none;
    margin-right:20px;

}

.topnav .navlink, a{
    text-decoration: none;
    padding-left:20px;
    font-size: 20px;

}

.dropdownlink{
    display:none;
}

header{
    display:flex;
    justify-content: center;
}

.headshot-wrapper{
    flex-direction: column;
    text-align: center;
    padding: 4rem 0;
}

.headshot {
    border-radius: 50%;
    border: 2px solid rgba(0,0,0,0.8);
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
    max-width:300px;
    width:100%;
}

.services,.contact-container{
    background-color:#F1F3Fa;
    padding: 4rem 1rem;
}

.media-object{
    display:flex;
    align-items: center;
    padding: 3rem 1rem
}

.icon-left, .icon-right{
    flex:0.4;
    display:flex;
    justify-content: center;
}

.blurb-wrapper-right, .blurb-wrapper-left{
    flex:1
}

.icon-left, .blurb-wrapper-left{
    order: 1;
}

.icon-right, .blurb-wrapper-right{
    order: 2;
}



.icon{
    width:300px;
    height:200px;
}

.blurb-wrapper{
    flex:2;
}

.blurb-header{
    font-size:24px;
    margin-top:0
}

.blurb-info{
    color:#646B90;
    font-size: 18px;
}

.quote-btn-wrapper{
    display:flex;
    justify-content: center;
    margin-top:30px;
}

.quote-btn{
    color:white;
    background-color: #66B6D5;
    font-size: 18px;
    border:none;
    padding:.8rem 4rem;
    box-shadow: 0 5px 15px rgba(0,0,0,.3);
    border-radius: 5%

}


.section-header{
    text-align: center;
    padding: 4rem 0 4rem;
    font-size: x-large;
}

.portfolio-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around

}

.portfolio-box{
    width:250px;
    height:250px;
    background-color:#F1F3Fa;
    transition: .3s ease-in-out; /*Adjust the speed of expanding*/
}

.portfolio-box:hover{
    cursor: pointer;
    transform:scale(1.1)
}

.portfolio-object{
    max-width: 250px;
    margin: 1rem 0
}

.portfolio-H{
    text-align: center;
}

form label{
    font-size:14px;
}

.form-group{
    margin-bottom: .75rem;
}

.form-control{
    max-width:800px;
    width:100%;
    color: #292b2c;
    border-radius: 2px;
    border: 1px solid #ced4da;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-clip: padding-box;
}

.submit-btn-wrapper{
    margin-top: 4rem;
}


/*          mobile responsive        */

@media(max-width:768px){


    ul.topnav li a.navlink{
        display:none;
    }

    ul.topnav li.dropdownlink{
        display:block;
        position:absolute;
        top:15px;
        right:20px;

    }

    ul.topnav.responsive li.dropdownlink{
        position:absolute;
        top:15px;
        right:20px;

    }

    ul.topnav.responsive {
        flex-direction:column;
        text-align:right;
    }


    ul.topnav.responsive li{
        position: relative;
        top:30px;
        right:30px;
    }

    ul.topnav.responsive li a.navlink {
        display:block;
        line-height: 2;    
    }
    
    .media-object{
        text-align:center;
        flex-direction: column
        }
    
    .icon-right, .icon-left{
        order:1
    }
    
    .blurb-wrapper-right,
    .blurb-wrapper-left{
        order: 2;
        padding-top: 2rem;
    }

    .portfolio-wrapper{
        justify-content: center;
        justify-content: space-around;
    }

    .form-group{
        display:flex;
    }
    
    .submit-btn-wrapper{
        text-align: center;
    }
}

@media(max-width:599px){ /*Most Mobile phones*/

    .portfolio-wrapper{
        justify-content: center;

    }
}